@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AnimalCenterApp</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users">
                <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/animal-tasks">
            <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span> Animals tasks
            </NavLink>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/animals">
                    <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span> Animals 
                </NavLink>
                </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/app-tasks">
                    <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span> Users tasks
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span>Login
                </NavLink>
            </div>

</div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/manolis/efi/love4ever">
                        <i class="bi bi-airplane-engines-fill"></i><span aria-hidden="true"></span> API
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

