@page "/logout"
@inject IAuthDataService AuthDataService
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@rendermode InteractiveServer

<style>
    body {
        background-color: #b3e5fc;
    }
</style>

<h1>Log out</h1>

<button class="btn btn-primary" @onclick="LogoutClicked">Log Out</button>

@code {
    private async Task LogoutClicked()
    {
        if (AuthService.IsLoggedIn)
        {
            await AuthService.LogoutAsync();
        }

        NavigationManager.NavigateTo("/"); 
    }
}
